.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #B22727;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #EE5007;
  font-size: 8rem;
  color: #F8CB2E;
}

p {
  font-size: 2rem;
  color: #F8CB2E;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #006E7F;
  font-size:1.3rem;
  font-weight: bolder;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
